@page "/requests"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TyphoonTaskingTool.Models
@using TyphoonTaskingTool.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TyphoonTaskingTool.Data.TmscDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<PageTitle>Index</PageTitle>

<h1>Full List of Tasks</h1>


<MudTable Items="_requests" Hover="true" Dense="true">
    <HeaderContent>
        <MudTh Style="text-align:center">Short ID</MudTh>
        <MudTh Style="text-align:center">Created</MudTh>
        <MudTh Style="text-align:center">Rank</MudTh>
        <MudTh Style="text-align:center">First Name</MudTh>
        <MudTh Style="text-align:center">Last Name</MudTh>
        <MudTh Style="text-align:center">Email</MudTh>
        <MudTh Style="text-align:center">Phone</MudTh>
        <MudTh Style="text-align:center">Title</MudTh>
        <MudTh Style="text-align:center">Description</MudTh>
        <MudTh Style="text-align:center">Archive</MudTh>
        <MudTh Style="text-align:center">Actions</MudTh>
 
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Short ID">@context.RequestShortId</MudTd>
        <MudTd DataLabel="Created">@context.RequestCreated</MudTd>
        <MudTd DataLabel="Rank">@context.RankId</MudTd>
        <MudTd DataLabel="First Name">@context.RequestFirstName</MudTd>
        <MudTd DataLabel="Last Name">@context.RequestLastName</MudTd>
        <MudTd DataLabel="Email">@context.RequestEmailAdd</MudTd>
        <MudTd DataLabel="Phone">@context.RequestContactPhone</MudTd>
        <MudTd DataLabel="Title">@context.RequestTitle</MudTd>
        <MudTd DataLabel="Description">@context.RequestTaskDescription</MudTd>
        <MudTd DataLabel="Archive">@context.RequestArchive</MudTd>
        <MudTd DataLabel="Actions">
            <MudButtonGroup>
                <MudIconButton Icon="@Icons.Material.TwoTone.Visibility"
                               Color="Color.Primary"
                               Variant="Variant.Text"
                               Size="Size.Small"
                               OnClick="@(() => ViewRequest(context.RequestTaskId))"
                               AriaLabel="View Details" />
			    <MudIconButton Icon="@Icons.Material.TwoTone.Edit"
						       Color="Color.Secondary"
                               Variant="Variant.Text"
                               Size="Size.Small"
                               OnClick="@(() => Console.WriteLine("Testing limit"))"
						       AriaLabel="Edit Request" />
                <MudIconButton Icon="@Icons.Material.TwoTone.Delete"
                               Color="Color.Secondary"
                               Variant="Variant.Text"
                               Size="Size.Small"
                               OnClick="@(() => Console.WriteLine("Exterminate"))"
                               AriaLabel="Edit Request" />
            </MudButtonGroup>
        </MudTd>
    </RowTemplate>
</MudTable>


@code {
    private List<Request> _requests = new();
    private TmscDbContext _context = default!;

    protected override async Task OnInitializedAsync()
    {
        _context = DbFactory.CreateDbContext();
        _requests = await _context.Requests.ToListAsync();
    }

    public async ValueTask DisposeAsync() => await _context.DisposeAsync();

    private async Task ViewRequest(Guid taskId)
    {
        //NavigationManager.NavigateTo($"/requests/details?requesttaskid={taskId}");

        var parameters = new DialogParameters
        {
            ["RequestTaskId"] = taskId
        };

        var options = new DialogOptions
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
		};

		await DialogService.ShowAsync<DetailsDialog>("Request Details", parameters, options);
    }

}
